<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <b>Book identity</b>
    </button>
  </h2>
  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <label>Title</label>
      <%= f.input :title %><br>

      <label>Author</label>
      <%= f.input :author %><br>

      <label>Edition</label>
      <%= f.input :editor %><br>

      <label>ISBN</label>
      <%= f.input :isbn %><br>

      <label>Category</label>
      <%= f.input :category, collection: I18n.t("categories").sort, include_blank: false %><br>
      
      <label>Readable?</label>
      <%= f.input :readable, as: :select, collection: [true, false], include_blank: false %><br>
    </div>
  </div>
</div>