<div class="container-fluid px-5 mt-5">
  <h1>
    <i class="fas fa-book text-info"></i>
    My library
  </h1> 
  <div class="table-responsive mt-5">
    <table id="book-index" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Actions</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Category</th>
          <th scope="col" data-sort='YYYYMMDD'>Added at</th>
          <th scope="col">Read ?</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr>
          <th onclick="navigator.clipboard.writeText(<%= "%%id:#{book.id}%%" %>);" scope="row">
            <%= book.id %>
          </th>
          <th>
            <%= link_to book_path(book) do %>
              <i class="fas fa-info-circle text-success"></i>
            <% end %>
            <%= link_to edit_book_path(book) do %>
              <i class="fas fa-edit text-primary"></i>
            <% end %>
            <%= link_to book_path(book), method: :delete do %>
              <i class="fas fa-trash text-danger"></i>
            <% end %>
            <%= link_to book_download_md_note_path(book), target: "_blank" do %>
              <i class="fas fa-download text-primary"></i>
            <% end %>
          </th>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.category %></td>
          <td><%= l(book.created_at, format: :date_only) %></td>
          <td>
            <% if book.read && book.readable %>
              <i class="fas fa-check text-success"></i>
            <% elsif !book.read && book.readable %>
              <i class="fas fa-times text-danger"></i>
            <% else %>
              Unreadable
            <% end %>
          </td>
          <td><%= book.id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready( function () {
    $('#book-index').DataTable();
  });
  
  function copy(id) {
    var copyText = document.getElementById("raw-markdown-" + id);
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    navigator.clipboard.writeText(copyText.value);
  } 
</script>