<div class="container mt-5">
  <h1>Ma bibliothèque</h1> 
  <div class="table-responsive mt-5">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Actions</th>
          <th scope="col">Titre</th>
          <th scope="col">Auteur</th>
          <th scope="col">Catégorie</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr>
          <th scope="row"><%= book.id %></th>
          <th>
            <%= link_to "Détail", book_path(book), class: "badge badge-success" %>
            <%= link_to "Éditer", edit_book_path(book), class: "badge badge-primary" %>
            <%= link_to "Supprimer", book_path(book), method: :delete, class: "badge badge-danger" %>
          </th>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.category %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>