<div class="container mt-5">
  <h1>Ma bibliothèque</h1> 
  <div class="table-responsive mt-5">
    <table id="book-index" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Actions</th>
          <th scope="col">Titre</th>
          <th scope="col">Auteur</th>
          <th scope="col">Catégorie</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr>
          <th scope="row"><%= book.id %></th>
          <th>
            <%= link_to book_path(book) do %>
              <i class="fas fa-info-circle text-success"></i>
            <% end %>
            <%= link_to edit_book_path(book) do %>
              <i class="fas fa-edit text-primary"></i>
            <% end %>
            <%= link_to book_path(book), method: :delete do %>
              <i class="fas fa-trash text-danger"></i>
            <% end %>
          </th>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.category %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready( function () {
    $('#book-index').DataTable();
  });
</script>