<% components_path = "books/fields_components/" %>
<div class="container my-5">
  <h1>Add a book</h1><br>
  <%= simple_form_for @book, url: books_path, method: :post, 
    defaults: { label: false, input_html: { class: "form-control shadow-sm"} }, 
    input_html: { class: "form-group" } do |f| 
  %>
    <div class="accordion shadow-sm" id="accordionExample">
      <%= render components_path + "book_identity", f: f %>
      <%= render components_path + "acquisition_infos", f: f %>
      <%= render components_path + "copy_infos", f: f %>
      <%= render components_path + "personal_states", f: f %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Add a book", class: "btn btn-success btn-lg w-100 mt-3" %>
  <% end %>
</div>