<div class="container mt-5">
  <%= react_component "book/show/Heading", { book: @book.to_json } %>
  <div class="my-3">
    <%= link_to "Editer", edit_book_path(@book), class: "btn btn-primary" %>
    <% if @book.started_at.blank? %>
      <%= link_to "Je commence à le lire", book_start_reading_path(@book), class: "btn btn-info" %>
    <% end %>
    <% if @book.finished_at.blank? && !@book.started_at.blank? %>
      <%= link_to "J'ai fini de le lire", book_finish_reading_path(@book), class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="mb-5">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>editor : </b><%= @book.editor %></li>
      <li class="list-group-item"><b>price : </b><%= number_to_currency(@book.price) %></li>
      <li class="list-group-item"><b>release_date : </b><%= l(@book.release_date) %></li>
      <li class="list-group-item"><b>buyed_at : </b><%= l(@book.buyed_at) %></li>
      <li class="list-group-item"><b>started_at : </b><%= @book.started_at.nil? ? "Pas commencé" : l(@book.started_at) %></li>
      <li class="list-group-item"><b>finished_at : </b><%= @book.finished_at.nil? ? "Pas fini" : l(@book.finished_at) %></li>
      <li class="list-group-item"><b>read : </b><%= @book.read ? "Yes" : "No" %></li>
      <li class="list-group-item"><b>page_count : </b><%= @book.page_count %></li>
      <li class="list-group-item"><b>buying_condition : </b><%= @book.buying_condition %></li>
      <li class="list-group-item"><b>buyed_from : </b><%= @book.buyed_from %></li>
      <li class="list-group-item"><b>actual_condition : </b><%= @book.actual_condition %></li>
      <li class="list-group-item"><b>book_type : </b><%= @book.book_type %></li>
      <li class="list-group-item"><b>binding : </b><%= @book.binding %></li>
      <li class="list-group-item"><b>language : </b><%= @book.language %></li>
      <li class="list-group-item"><b>category : </b><%= @book.category %></li>
      <li class="list-group-item"><b>summary : </b><%= @book.summary %></li>
      <li class="list-group-item"><b>created_at : </b><%= @book.created_at %></li>
      <li class="list-group-item"><b>updated_at : </b><%= @book.updated_at %></li>
      <li class="list-group-item"><b>isbn : </b><%= @book.isbn %></li>
      <li class="list-group-item"><b>weight_in_grams : </b><%= @book.weight_in_grams %></li>
    </ul>
  </div>
</div>


