<div class="container-fluid px-5 mt-5">
  <div class="row">
    <% @wishlists.each do |wishlist| %>
      <div class="col-sm-3">
        <div class="card p-3 shadow-sm border-0 bg-light">
          <h3 class="mb-2">
            <%= link_to wishlist.title, wishlist_path(wishlist) %>
            (<%= wishlist.wishlist_items.size %>)
          </h3>
          <p><%= wishlist.description %></p>

          <ul class="nav">
            <li class="nav-item">
              <%= link_to "#", class: "text-success nav-link p-1" do %>
                <i class="fas fa-plus"></i> New wish
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class: "text-info nav-link p-1" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class: "text-danger nav-link p-1" do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>