<div class="container-fluid px-5 mt-5">
  <div class="d-flex justify-content-between">
    <div>
      <h1 class="mb-5">
        <i class="fas fa-list text-warning"></i>
        My wishlists
      </h1>
    </div>
    <div>
      <%= link_to new_wishlist_path, class: "btn btn-success" do %>
        <i class="fas fa-plus"></i> New list
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @wishlists.each do |wishlist| %>
      <div class="col-sm-3">
        <div class="card p-3 shadow-sm border-0 bg-light">
          <h3 class="mb-2">
            <%= link_to wishlist.title, wishlist_path(wishlist) %>
            (<%= wishlist.wishlist_items.size %>)
          </h3>
          <p><%= wishlist.description %></p>

          <ul class="nav">
            <li class="nav-item">
              <%= link_to "#", class: "text-success nav-link p-1" do %>
                <i class="fas fa-plus"></i> New wish
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class: "text-info nav-link p-1" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to wishlist_path(wishlist), class: "text-danger nav-link p-1", method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>